{{#if hasBlock}}
  {{yield stars (action "setRating")}}
{{else}}
  {{#each stars as |star|}}
    <span class="star-rating {{if star.full fullClassNames emptyClassNames}}"
      {{action "setRating" star.rating}}>
    </span>
  {{/each}}
{{/if}}
