{{#if hasBlock}}
  {{yield stars (action "setRating")}}
{{else}}
  {{#each stars as |star|}}
    <a href="#" {{action "setRating" star.rating}}
       class="star-rating {{if star.full fullClassNames emptyClassNames}}">
    </a>
  {{/each}}
{{/if}}
